* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Header styles. 
Added the following for the header to be displayed as for the challenge requirements: flex, space-between and center*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Title to the left within the header */
header h1 {
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/* Navigation styles */
header nav {
    /* Updated styles for the semantic nav element */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Styling for the list in the header */
header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    margin-left: 25px;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
}
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Styles for the Hero section */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left{
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-right: 25px;
}
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Styles for the benefits section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Grouped .benefit elements which have the same styles */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Grouped .benefit h3 elements which have the same styles */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Grouped .benefit img elements which have the same styles */
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Grouped all 3 elements as they have the same style definition */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    direction: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Grouped all 3 images as they have the same style definition: max-height */
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img{
    max-height: 200px;
}

/* Grouped all 3 h2 elements as they have the same style definition */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Footer styles */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
